<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
    <div th:fragment="navigation" class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" aria-hidden="false">
        <header class="demo-drawer-header">
            <img th:src="@{/img/user.jpg}" class="demo-avatar">
            <div class="demo-avatar-dropdown">
                <span th:text="${#authentication.principal.username}"></span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" th:href="@{/}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
            <a class="mdl-navigation__link" th:href="@{/admin/users}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Users</a>
            <a class="mdl-navigation__link" th:href="@{/homes}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Homes</a>
            <a class="mdl-navigation__link" th:href="@{/admin/product/groups}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Product Groups</a>
            <div class="mdl-layout-spacer"></div>
        </nav>
    </div>
</body>
</html>