<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
</head>
<body>
<div layout:fragment="content" class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp mdl-color--white">
        <form th:action="@{/homes/add}" th:object="${home}" method="post">
            <div class="mdl-grid">
                <div th:if="${home.id != null}" class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="id" th:field="*{id}" readonly>
                    <label class="mdl-textfield__label" for="id">Id:</label>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="alias" th:field="*{alias}">
                    <label class="mdl-textfield__label" for="alias">Alias:</label>
                    <td class="mdl-textfield__error" th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}"></td>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="streetName" th:field="*{streetName}">
                    <label class="mdl-textfield__label" for="streetName">Street Name:</label>
                    <td class="mdl-textfield__error" th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}"></td>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="streetNumber" th:field="*{streetNumber}">
                    <label class="mdl-textfield__label" for="streetNumber">Street Number:</label>
                    <td class="mdl-textfield__error" th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}"></td>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="city" th:field="*{city}">
                    <label class="mdl-textfield__label" for="city">City:</label>
                    <td class="mdl-textfield__error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></td>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="postalCode" th:field="*{postalCode}">
                    <label class="mdl-textfield__label" for="postalCode">Postal Code:</label>
                    <td class="mdl-textfield__error" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></td>
                </div>
            </div>
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Save</button>
        </form>
    </div>
</div>
</body>
</html>
